<div class="document-summary">
  <h2>Document Summary</h2>
  <ul>
    <% @summary.split('. ').each do |sentence| %>
      <li><%= sentence %>.</li>
    <% end %>
  </ul>
  <%= link_to 'Summarize another document', document_summarizer_path, class: 'btn' %>
</div>
