<div class="citation-output">
  <h2>Generated Citation</h2>
  <p><%= @bibliography_writer.formatted_citation %></p>
  <a href="<%= new_bibliography_writer_path %>" class="btn">Create Another Citation</a>
</div>
