* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}
body {
  display: flex;
  min-height: 100vh;
  background-color: #f0f0f0;
}
.sidebar {
  min-width: 250px;
  max-width: 250px;
  background-color: #ffffff;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}
.sidebar h2 {
  color: black;
  text-align: center;
  margin-bottom: 30px;
}
.sidebar a {
  text-decoration: none;
  padding: 15px 20px;
  color: black;
  display: block;
  border-radius: 4px;
  margin-bottom: 10px;
  transition: background-color 0.3s ease;
}
.sidebar a:hover {
  background-color: #F67A7A;
}

.sidebar a i {
  margin-right: 10px;
}

.main-content {
  flex: 1;
  padding: 20px;
}


// logo



.sidebar-logo {
  width: 24px;
  height: auto;
  vertical-align: middle;
  margin-right: 8px;
}
