<h1>Plagiarism Check Results</h1>

<% if @results.blank? %>
  <p>No results found. Please try a different text.</p>
<% else %>
  <table>
    <thead>
      <tr>
        <th>Sentence</th>
        <th>URL</th>
      </tr>
    </thead>
    <tbody>
      <% @results.each do |result| %>
        <tr>
          <td><%= result['Sentence'] %></td>
          <td><a href="<%= result['URL'] %>"><%= result['URL'] %></a></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
