<div class="sidebar">
  <div>
    <h2>Sidekick</h2>
    <a href="/dashboard" class="active">Dashboard</a>
    <a href="/profile">Profile</a>
    <a href="/bibliography_writer">Bibliography Writer</a>
    <a href="/plagiarism_checker">Plagiarism Checker</a>
    <a href="/document_summarizer">Document Summarizer</a>
  </div>
</div>
