<div class="sidebar">
  <div>
    <%= image_tag 'logo.png', alt: 'Logo', class: 'sidebar-logo' %>

    <a href="/dashboard" class="active"><i class="fa-solid fa-house"></i>Dashboard</a>
    <a href="/profile"><i class="fa-solid fa-user"></i>Profile</a>
    <a href="<%= new_bibliography_writer_path %>"><i class="fa-solid fa-pen"></i>Bibliography Writer</a>
    <%= link_to '<i class="fa-brands fa-searchengin"></i>Plagiarism Checker'.html_safe, 'http://localhost:8501', class: 'btn btn-primary' %>
    <a href="/document_summarizer"><i class="fa-solid fa-scissors"></i>Document Summarizer</a>
  </div>
</div>
